*,
*::before,
*::after {
    box-sizing: border-box;
}
ul[class],
ol[class] {
    padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}
img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body{
    background: #E5E5E5;
}
button:hover{
    cursor: pointer;
}

button:focus, select:focus{
    outline-offset: 0px;
    outline: none;
}
.main-window{
    width: 100vw;
    height: 100vh;
    background: #1E2535;
}
.fst-button{
    width: 188px;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px 0px 0px 24px;
    background: #83F6B1;
    border-radius: 5555px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #282A3B;
    align-self: center;
    flex-grow: 0;
  }
.modal-wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-window{
    position: relative;
    width: 695px;
    height: 727px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(177.76deg, #2E354B 0%, #30374C 100%);
    box-shadow: 25px 25px 50px rgba(24, 28, 38, 0.5);
    border-radius: 10px;
}
.percent{
    width: 68px;
    height: 34px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 0px 0px 10px;
    background: #83F6B1;
    border-radius: 0px 0px 5px 5px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #272C44;
    align-self: center;
    flex-grow: 0;
}
.timer{
    width: 110px;
    margin-top: 43px;
    margin-bottom: 27px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #83F6B1;

}
.timer-img{
    width: 18px;
    height: 20px;
    margin-right: 8px;
    overflow: hidden;
    background-image: url("../public/img/timer.svg");
}
.deposit{
    margin-bottom: 30px;
    margin-top:27px ;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;

    color: #EEEEEE;
}
.select{
    margin-bottom:35px ;
    padding-left: 20px;
    width: 392px;
    height: 40px;
    background: #3C4561;
    border-color: #3C4561;
    border-radius: 5px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #EEEEEE;
}

.radio-label {
    position: relative;
    display : inline-block;
}
.radio-label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.radio-label > input + div{ /* DIV STYLES */
    margin-right: -16px;
    position: relative;
    cursor:pointer;
    width: 166px;
    height: 186px;
    background: #3C4561;
    border: 2px solid #91ACD4;
    box-sizing: border-box;
    box-shadow: 8px 8px 20px rgba(24, 28, 38, 0.5);
    border-radius: 5px;
    z-index: 1;
}
.radio-label > input:checked{
    z-index: 10;
}
.radio-label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    position: relative;
    width: 204px;
    height: 218px;
    background: #3C4561;
    border: 2px solid #91ACD4;
    box-sizing: border-box;
    box-shadow: 8px 8px 20px rgba(24, 28, 38, 0.5);
    border-radius: 5px;
    z-index: 10;
}
.radio-label > input:checked + div .get-span{
    font-size: 36px;
}
.cash{
    margin-top: 30px;
    margin-bottom: 24px;
    color: white;
    background: linear-gradient(177.76deg, #2E354B 0%, #30374C 100%);
    box-shadow: 25px 25px 50px rgba(24, 28, 38, 0.5);
    border-radius: 10px;
}
.topup{
    padding:14px 24px 14px 24px;
    margin-bottom: 23px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #83F6B1;
    border-radius: 5555px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: #282A3B;

}
.politics{
    margin-bottom: 8px;
    width: 417px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #91ACD4;
    opacity: 0.5;
}
.detail{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    border-bottom: 3px dotted #91ACD4;
    color: #91ACD4;
    opacity: 0.7;

}
.money-box {
    padding: 36px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #EEEEEE;
}
.top-up-span{
    margin-top: 11px;
    margin-bottom: 19px;
    font-weight: normal;
    font-size: 22px;
}
.cash-box{
    color: #83F6B1;
}
.get-span{
    margin-top: 11px;
    font-size: 22px;
}
.result-money{
    color: #83F6B1;
}
.close{
    position: absolute;
    right: 22px;
    top: 22px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background-image: url("../public/img/close.svg");
}
.close:hover{
    cursor: pointer;
}